In [25]:
site<-'NZSIBT'
LT50<-33.3

In [3]:
basefolder <- paste("../processedoutput/", site, "/", sep="")
mtfiles<-list.files(basefolder)

In [64]:
a<-18
height<-substr(mtfiles[a], 16, 18)
data<-read.table(paste(basefolder, mtfiles[a], sep=""), header=TRUE)
data$year<-substr(data$Date, 1, 4)
data<-subset(data, data$year>=1997)

In [65]:
LTtimes<-subset(data, data$Temp>=LT50)
LTDate <- aggregate(LTtimes$Temp, list(LTtimes$Date), NROW)
colnames(LTDate)<-c('Date', 'MinsLT')
LTDate$MinsLT <- LTDate$MinsLT*30
LTDate$HoursLT <- LTDate$MinsLT/60
LTDate$yearmonth<-substr(LTDate$Date, 1, 7)

In [66]:
YearMonth <- aggregate(LTDate$HoursLT, list(LTDate$yearmonth), max)

In [67]:
colnames(YearMonth) <- c("yearmonth", height)

   yearmonth 220
1  1997-02   0.5
2  1998-01   5.5
3  1998-02   6.5
4  1998-03   2.5
5  1998-12   4.5
6  1999-01   5.5
7  1999-02   5.0
8  1999-03   2.0
9  2000-01   4.0
10 2000-02   4.5
11 2000-03   3.0
12 2000-12   3.5
13 2001-01   0.5
14 2001-02   4.0
15 2001-11   2.0
16 2001-12   2.0
17 2002-01   3.0
18 2002-02   3.0
19 2003-01   4.0
20 2003-02   4.5
21 2003-12   7.5
22 2004-01   6.0
23 2004-02   4.5
24 2005-01   5.0
25 2005-02   6.5
26 2005-12   2.0
27 2006-01   5.5
28 2006-02   4.5
29 2007-01   4.0
30 2007-02   3.5
31 2007-03   0.5
32 2007-12   6.0
33 2008-01   5.0
34 2008-02   2.5
35 2008-03   1.0
36 2008-11   2.5
37 2008-12   6.0
38 2009-01   8.0
39 2009-02   5.5
40 2009-12   4.5

In [41]:
test

    Group.1    x
1   1997-02-15  1
2   1998-01-02 11
3   1998-01-03  9
4   1998-01-13  7
5   1998-01-17  4
6   1998-01-23  7
7   1998-01-24 11
8   1998-01-27  9
9   1998-01-29  5
10  1998-02-03 11
11  1998-02-05 13
12  1998-02-07 11
13  1998-02-11  7
14  1998-02-12  5
15  1998-02-13 11
16  1998-02-15  9
17  1998-02-16 12
18  1998-03-07  5
19  1998-03-08  3
20  1998-12-19  7
21  1998-12-21  4
22  1998-12-27  9
23  1998-12-30  9
24  1999-01-04  8
25  1999-01-16  1
26  1999-01-19 11
27  1999-01-29  8
28  1999-02-15 10
29  1999-02-17  4
30  1999-02-18  7
⋮   ⋮          ⋮
111 2008-01-20 10
112 2008-01-31 10
113 2008-02-23  4
114 2008-02-28  5
115 2008-03-18  2
116 2008-11-14  4
117 2008-11-28  5
118 2008-12-27  4
119 2008-12-28  7
120 2008-12-29 12
121 2008-12-30  8
122 2008-12-31  3
123 2009-01-01  3
124 2009-01-06 10
125 2009-01-07 16
126 2009-01-08  3
127 2009-01-14  3
128 2009-01-15 12
129 2009-01-21  8
130 2009-01-22 12
131 2009-01-23 10
132 2009-01-24 12
133 2009-01-25  6
134 2009-01-30 11
135 2009-02-05  9
136 2009-02-07 10
137 2009-02-08 11
138 2009-12-24  8
139 2009-12-25  9
140 2009-12-28  3